<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>350155802403-j7pk61cnubjqffrchr9ev9tjaaupo88s.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.350155802403-j7pk61cnubjqffrchr9ev9tjaaupo88s</string>
    <key>API_KEY</key>
    <string>AIzaSyABr2Y7AvUnrrtCydsZrQSxvtiBkIB4_dk</string>
    <key>GCM_SENDER_ID</key>
    <string>350155802403</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>imajo.-m</string>
    <key>PROJECT_ID</key>
    <string>memo-c81e0</string>
    <key>STORAGE_BUCKET</key>
    <string>memo-c81e0.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:350155802403:ios:50b37499b92ffe06806e96</string>
    <key>DATABASE_URL</key>
    <string>https://memo-c81e0.firebaseio.com</string>
</dict>
</plist>
